/* vars and mixins */

highlight-color = #c41027
secondary-color = #762222

svg-bg(path)
    background transparent url(path)
    background-repeat no-repeat
    background-size contain

justified()
  display flex
  flex-wrap wrap
  justify-content center

heading-font()
  font-family 'Georgia', serif
  font-weight 500
  letter-spacing 0
  letter-spacing -0.15px
  word-spacing -0.3px;

  /* use FontFaceObserver to add this class when font finishes loading */
  .Lora &
    font-family 'Lora', serif
    font-weight 700
    line-height 1
    letter-spacing 0.25px
    word-spacing 0

main-heading()
  heading-font()
  font-style normal
  color highlight-color

secondary-heading()
  heading-font()
  font-style italic
  color secondary-color

copy()
  /* pre-Lato */
  font-family Arial
  letter-spacing -0.2px
  word-spacing -0.65px;

  /* use FontFaceObserver to add this class when font finishes loading */
  .Lato &
    font-family 'Lato', sans-serif
    letter-spacing 0
    word-spacing 0


/* base */

body
  width: 95%
  max-width: 45em
  margin: auto
  font-size 18px

  copy()

h1
  main-heading()

  > img
    display inline-block
    width: 1.5em
    margin 0 0 -0.4em 0

h2
  secondary-heading()

  nav article &
    main-heading()

h3
  secondary-heading()

header
  margin 1em auto 3em
  text-align center

article
  margin 0 auto 2em

footer nav
  justified()

  & a
    margin 1em

aside
  margin 2em auto
  justified()

  p
    text-align center
    flex 1 100%
    margin 0.3em auto

a
  text-decoration none
  font-weight bold
  color highlight-color

hr
  flex-shrink 0
  content url("/img/tomato.svg")
  border none
  width 2.5em
  margin 2.8em auto 1.4em


main > nav
  margin 2rem
  font-size 0.9em


/* links */

[rel=prev]
  display block
  margin 1em 3em 0 0

  &:before
      content ""
      display inline-block
      width: 1em
      height 1.5em
      margin 0 0.3em -0.3em 0
      svg-bg "/img/left.svg"

[rel=next]
  display block
  margin 1em 0 0 3em
  text-align right
  right 0

  &:after
    content ""
    display inline-block
    width: 1em
    height 1.5em
    margin 0 0 -0.4em 0.4em
    svg-bg "/img/right.svg"


/* misc */

.copyleft
	display: inline-block
	transform: rotate(180deg)
