/* vars and mixins */

highlight-color = #c41027
secondary-color = #762222

svg-bg(path)
    background transparent url(path)
    background-repeat no-repeat
    background-size contain

justified()
  display flex
  flex-wrap wrap
  justify-content center

heading-font(base-size)
  font-family 'Georgia', serif
  font-size (base-size * (10/11))
  font-weight 700
  line-height 1.55
  letter-spacing -0.4px

  /* use FontFaceObserver to add this class when font finishes loading */
  .Lora &
    font-family 'Lora', serif
    font-size base-size
    line-height 1.4
    font-weight 700
    letter-spacing 0.45px

main-heading(base-size)
  heading-font(base-size)
  font-style normal
  color highlight-color

secondary-heading(base-size)
  heading-font(base-size)
  font-size (base-size * (6/7))
  line-height 1.9
  font-style italic
  color secondary-color

copy(base-size)
  /* pre-Lato */
  font-family Arial
  font-size (base-size * (18/19))
  font-weight normal
  line-height 1.43
  letter-spacing -0.2px
  word-spacing 0

  /* use FontFaceObserver to add this class when font finishes loading */
  .Lato &
    font-family 'Lato', sans-serif
    font-weight: normal
    line-height 1.4
    letter-spacing 0
    word-spacing 0


/* base */

body
  width: 95%
  max-width: 45rem
  margin: auto
  font-size 18px

  copy(1.05rem)

h1
  main-heading(1.8rem)

  > img
    display inline-block
    width: 1.5em
    margin 0 0 -0.4em 0

h2
  secondary-heading(1.2rem)

  nav article &
    main-heading(1.4rem)

h3
  secondary-heading(1.2rem)

header
  margin 1rem auto 3rem
  text-align center

article
  margin 0 auto 2rem

p
  word-spacing -0.65px;

  .Lato &
    word-spacing 0

footer nav
  justified()

  & a
    margin 1em

aside
  margin 2rem auto
  justified()

  p
    text-align center
    flex 1 100%
    margin 0.3em auto

a
  text-decoration none
  font-weight bold
  color highlight-color

hr
  flex-shrink 0
  content url("/img/tomato.svg")
  border none
  width 2.5em
  margin 2.8em auto 1.4em


main > nav
  margin 2rem
  font-size 0.9em


/* links */

[rel=prev]
  display block
  margin 1em 3em 0 0

  &:before
      content ""
      display inline-block
      width: 1em
      height 1.5em
      margin 0 0.3em -0.3em 0
      svg-bg "/img/left.svg"

[rel=next]
  display block
  margin 1em 0 0 3em
  text-align right
  right 0

  &:after
    content ""
    display inline-block
    width: 1em
    height 1.5em
    margin 0 0 -0.4em 0.4em
    svg-bg "/img/right.svg"


/* misc */

.copyleft
	display: inline-block
	transform: rotate(180deg)
